body{
    margin:0;
}

* ul{
    list-style-type: none;
}

* h3{
    margin-top: 16px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat-Regular.otf') format('otf');
}

#page{
    max-width: 1200px;
    margin:auto;
    color:RGB(64,64,64);
    font-family:  'Montserrat', Helvetica, Times, sans-serif;

}

header{
    display:none;
}

.colonnesX2{
    display:flex;
}

.colonne1{
    flex:4;
    background-color: RGB(254,202,7);
    min-height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    padding-top:15px;
    padding-bottom: 15px;
    margin:auto;
    margin-top: 0;
}

.titreCol1{
    background-color: RGB(64,64,64);
    text-align: center;
    padding:5px;
    color:RGB(254,202,7);
}

.photoId{
    text-align: center;
}

.photoCircle{
    border-radius: 50%;
}

.colonne1 p{
    text-align: justify;
    margin:35px;
}

.loisirs{
    text-align: center;
    
}


/* COLONNE 2 */
.colonne2{
    flex:7;
    margin:50px;
}

.container{
    display:flex;
}

h1{
    font-size:3em;
    margin-bottom: 16px;
}


.black{
    color:black;
}

.yellow{
    color:RGB(254,202,7);
}

.topBorder{
    border-top: 2px RGB(254,202,7) solid;
    padding-bottom: 50px;
}

.bottomBorder{
    border-bottom: 2px RGB(254,202,7) solid;
    color:black;
}

.colonne2-1{
    width: 65px;
}

.espace{
    padding-top:30px;
}

.souligner{
    margin-bottom: 0;
}

.formationCol1{
    flex:5;
}

.formationCol1 ul{
    margin-left: 25px;
}

.formationCol2{
    flex:7;
}

.recommandationsCol1{
    flex:6;
}

.recommandationsCol1 ul{
    padding-left:0;
}

.recommandationsCol2{
    flex:6;
}

.recommandationsCol2 ul{
    padding-left:0;
}

.titleIcons{
    vertical-align: middle;
}

/* MEDIA QUERY FOR A RESPONSIVE WEBSITE*/

/* Medium and smaller */
@media (max-width: 991.98px) {
    .colonnesX2{
        flex-direction: column;
    }

    .colonne2{
        order: 1;
    }

    .colonne1{
        order: 2;
    }
}

@media (max-width: 575.98px) {
    .container{
        flex-direction: column;
    }
    .borderOnlyOnXs{
        border-bottom: solid black 1px;
    }
    .formationCol2{
        padding-left: 25px;
    }

}